set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.tmux/plugins/'
set-option -g status on
set-option -g status-style bg='#660066',fg='#ffb266 bold' 
set-option -g message-command-style bg='#660066',fg='#ffb266 bold'
set-option -g message-style bg='#660066',fg='#ffb266 bold'
set-option -g mode-style bg='#660066',fg='#ffb266 bold'
set-option -g prefix C-z
unbind-key C-b
bind-key C-z send-prefix
# set -g status-fg '#ffb266' 
set -g default-shell /usr/bin/fish
set -g default-command /usr/bin/fish

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

set-option -g focus-events on
set-option -sg escape-time 10
set-option -sa terminal-overrides 'alacritty:RGB'
set-option -g default-terminal "screen-256color"

## Use vim keybindings in copy mode
set-option -g mouse off
setw -g mode-keys vi
# set-option -s set-clipboard off
bind P paste-buffer
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xsel -i'
bind-key -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel 'xsel -i'

# List of plugins
set -g @tpm_plugins '   		\
	tmux-plugins/tpm    		\
	tmux-plugins/tmux-sensible  \
	tmux-plugins/tmux-resurrect \ 
	tmux-plugins/tmux-continuum \
'

set -g @continuum-boot 'on'
## Restore Vim sessions
set -g @resurrect-strategy-vim 'session'
## Restore Neovim sessions
set -g @resurrect-strategy-nvim 'session'
## Restore Panes
set -g @resurrect-capture-pane-contents 'on'
## Restore last saved environment (automatically)
set -g @continuum-restore 'on'

# needs to be at very bottom of config file
run '~/.tmux/plugins/tpm/tpm'
