snippet if "If expand" wA
if (${1:true}) {
	$0
}
endsnippet

snippet eif "elseIf expand" wA
else if (${1:true}) {
	$0
}
endsnippet

snippet else "else expand" wA
else {
	$0
}
endsnippet

snippet while "While expand" wA
while (${1:true}) {
	$0
}
endsnippet

snippet for "For expand" wA
for (${1:int i = 0}; ${2:i < n}; ${3:++i}) {
	$0
}
endsnippet

snippet func "function expand" wA
${2:void} ${1:foo}(${3:int x}) {
	$0
}
endsnippet
